<<<<<<< HEAD
<<<<<<< Upstream, based on branch 'master' of https://github.com/natavila/proyecto-garage.git
@charset "ISO-8859-1";



form{
	
	width: 500px;
	margin: 0 auto;
}

=======
@charset "ISO-8859-1";



form{
	
	width: 500px;
	margin: 0 auto;
}

>>>>>>> b7f08d3865a369885f4ff345531403514a4216cb
=======
@charset "ISO-8859-1";



form{
	
	width: 500px;
	margin: 0 auto;
}

=======
@charset "ISO-8859-1";



form{
	
	width: 500px;
	margin: 0 auto;
}

>>>>>>> refs/remotes/origin/SantosGaston
>>>>>>> e61c56b ge remote-tracking branch 'origin/SantosGaston' into ramaNataly
