<<<<<<< HEAD
@charset "ISO-8859-1";



form{
	
	width: 500px;
	margin: 0 auto;
}

=======
@charset "ISO-8859-1";



form{
	
	width: 500px;
	margin: 0 auto;
}

>>>>>>> b7f08d3865a369885f4ff345531403514a4216cb
